.first {
    border-radius: 5px;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    background-color: rgb(117, 112, 112);
    color: rgb(240, 240, 240);
}

.main {
    height: 600px;
    width: 600px;
    border-radius: 25px;
    padding: 50px;      
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
    border: black;
}

.container {
    display: flex;
    flex: 1;
    position: absolute;
    top: 16%;
    left: 30%;
}


#floor {
    top: 0px;
    left: 0px;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: white;
    padding-right: 1em;
}   


header {
    background-color: rgb(91, 92, 93);
    color: white;
    padding: 1em;
}
body {
    margin: 0;
}